<name-version>
    <p>
        <span class="label">Project:</span><input type="text" class="value" value="projectName"/>
        <span class="label value">Version:</span><input type="text" class="value" value="0.0.0"/>
    </p>
</name-version>